@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
#header {
  width: 100%;
  height: 80px;
  background: #053e61;
  background: linear-gradient(90deg,rgba(5, 62, 97, 1) 0%, rgba(15, 63, 105, 1) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 22px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
#usuario{
  color:#ffe44da2;
  margin: 0;
  max-width: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
  }
#user-info {
  display: flex;
  align-items: end;
  justify-content: end;
  flex-direction: row;
  margin-right: 5vh;
}
#user-info h2 {
  color: #ffffff;
}
#logo{
  display: flex;
  align-items: center;
  margin-left: 3.5vw;
}
#logo h2{
  margin-top: 8px;
  margin-left: 5px;
  font-size: x-large;
  color: white;
}
#logo a img{
  width: 60px;
}