* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin", sans-serif;
}
html, body {
    overflow-x: hidden;
}
 select{
    width: 100%;
    border: 0.1px solid rgba(185, 185, 185, 0.61);
}
 input{
    width: 100%;
    outline: none;
    border: 0.1px solid rgba(185, 185, 185, 0.61);
    border-radius: 3px;
    padding: 3px 2px;
}
.full-content {
    display: flex;
    width: 100%;
    min-height: 100%;
    flex-direction: column;
}
.container {
    width: 100%;
    height: 100%;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
}
.top-area{
    padding: 15px 0;
}
.titulo h3 {
    max-width: 100%;
    width: 100%;
    font-size: 1.4rem;
}
.adicionar button{
    padding: 9px 15px;
    background-color: rgba(15, 63, 105, 0.900);
    color: white;
    border: none;
    border-radius: 8px;
}
.adicionar button:hover{
    background-color: rgba(15, 74, 126, 0.9);
    box-shadow: 3px 3px 10px -7px rgb(0, 0, 0);
    color: white;
    transition: 0.5;
}

/* buscar */

.mid-area{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.total-contas-pagar{
    display: flex;
    width: 24%;
    height: 100%;
    padding: 15px 0px;
    margin-bottom: 20px;
    border-radius: 2px;
    box-shadow: 3px 3px 10px -5px rgb(61, 0, 0);
    background-color: rgb(250, 250, 250);
    position: relative;
}
.total-contas-pagar h6{
    padding-left: 10px;
}
.main-total-contas-pagar{
    padding: 0px 0px 0px 10px;
}
.total-contas-receber{
    display: flex;
    width: 24%;
    height: 100%;
    padding: 15px 0px;
    margin-bottom: 20px;
    border-radius: 2px;
    box-shadow: 3px 3px 10px -5px rgb(37, 70, 0);
    background-color: rgb(250, 250, 250);
    position: relative;
}
.total-contas-receber h6{
    padding-left: 10px;
}
.main-total-contas-receber{
    padding: 0px 0px 0px 10px;
}
.valor-contas-receber{
    display: flex;
    width: 24%;
    height: 100%;
    padding: 15px 0px;
    margin-bottom: 20px;
    border-radius: 2px;
    box-shadow: 3px 3px 10px -5px rgb(37, 70, 0);
    background-color: rgb(250, 250, 250);
    position: relative;
}
.valor-contas-receber h6{
    padding-left: 10px;
}
.main-valor-contas-receber{
    padding: 0px 0px 0px 10px;
}
.valor-contas-pagar{
    display: flex;
    width: 24%;
    height: 100%;
    padding: 15px 0px;
    margin-bottom: 20px;
    border-radius: 2px;
    box-shadow: 3px 3px 10px -5px rgb(61, 0, 0);
    background-color: rgb(250, 250, 250);
    position: relative;
}
.valor-contas-pagar h6{
    padding-left: 10px;
}
.main-valor-contas-pagar{
    padding: 0px 0px 0px 10px;
}
.icone-total-pagar{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 50%;
    left: 50%;
    transform: translate(145%, -45%);
    z-index: 1;
    font-size: 3rem;

    border-radius: 50%;
    color: rgb(255, 255, 255);
    background: red;
    width: 60px;
    height: 60px;
}
.icone-total-receber{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 50%;
    left: 50%;
    transform: translate(145%, -45%);
    z-index: 1;
    font-size: 3rem;

    border-radius: 50%;
    color: rgb(255, 255, 255);
    background: green;
    width: 60px;
    height: 60px;
}
.icone-valor-pagar{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 50%;
    left: 50%;
    transform: translate(145%, -45%);
    z-index: 1;
    
    color: rgb(255, 255, 255);
    font-size: 3rem;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    background: rgb(209, 0, 0);
    width: 60px;
    height: 60px;
}
.icone-valor-receber{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 50%;
    left: 50%;
    transform: translate(145%, -45%);
    z-index: 1;
    font-size: 3rem;

    border-radius: 50%;
    color: rgb(255, 255, 255);
    background: green;
    width: 60px;
    height: 60px;
}

/* pesquisar */

.filters-section {
    border-radius: 3px;
    padding: 25px;
    box-shadow: 2px 3px 10px -7px rgb(0, 0, 0);
    background-color: rgb(250, 250, 250);
}
.filters{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}
.filters input,
.filters select {
  padding: 10px 15px;
  border: 2px solid #e1e5e9;
  border-radius: 8px;
  font-size: 0.9rem;
}
.buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.buttons button{
    padding: 10px 32px;
    background-color: rgba(15, 63, 105, 0.900);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.buttons button:hover{
    background-color: rgba(15, 74, 126, 0.9);
    color: white;
    box-shadow: 3px 3px 10px -7px rgb(0, 0, 0);
    transition: 0.6;
}
.buttons a{
    text-decoration: none;
    color: black;
}

/* table */

.sem-conta{
    min-width: 600px;
    min-height: 500px;
    border-radius: 6px;
    box-shadow: 2px 3px 10px -7px rgb(0, 0, 0);
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    margin-bottom: 15px;
}
.sem-conta i{
    color: rgba(0, 0, 0, 0.356);
    font-size: 5rem;
    margin-bottom: 40px;
}
tfoot tr td{
    margin: 0px 20px;
}
.pagar {
    background-color: rgba(255, 0, 0, 0.158) !important;
    color: rgb(0, 0, 0);
    border-radius: 20px;
}
.receber{
    background-color: rgba(0, 255, 0, 0.144);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    padding-bottom: 3px;
}
.nao-definido{
    position: absolute;
    background-color: rgba(0, 94, 148, 0.192);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    margin-left: 20px;
    padding-bottom: 3px;
}
