* {
    box-sizing: border-box;
}

#closePopUpEditar button:active {
    opacity: 0.75;
}

/* Estilo base do modal */
.modalEditar {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

}

/* Conteúdo interno do modal */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 1200px;
    width: 100%;
}

/* Botão de fechar */

#closePopUpEditar button:hover {
    background-color: #0056b3;
}

.modalEditar.open {
    opacity: 1;
    z-index: 9999999999;

}

.modalEditar button {
    padding: 10px 25px;
    border-radius: 12px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #042940e1;
}

.modal-inner h2 {
    margin: 0;
}

.modal-inner p {

    margin: 10px 0;
}

.top-pop-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-pop-up i {
    margin-right: 10px;
    color: black;
}

.tempo-agendamento {
    display: flex;
}