*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin", sans-serif;
}
.full-content {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.titulo h3 {
    max-width: 100%;
    width: 100%;
    font-size: 1.4rem;
}
.top-area{
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}
.top-area .adicionar{
    margin-left: 3px;
    max-width: 100%;
}
.top-area .adicionar button{
    background-color: rgba(5, 62, 97, 1);
    color: white;
    height: 38px;
    width: 100%;
    padding: 0px 15px;
    border-radius: 8px;
    font-weight: 500;
    box-shadow: 4px 4px 8px -5px rgba(0, 0, 0, 0.1);
    border: none;
}
.top-area .adicionar button:hover{
    cursor: pointer;
    box-shadow: 4px 4px 8px -3px #42545f8c;
    transition: all 0.1s ease-in-out;
}

/* buscar */
.mid-area{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
 .pesquisar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 65%;
    height: 100%;
    padding: 15px 0px;
    margin-bottom: 20px;
    border-radius: 2px;
    box-shadow: 2px 3px 10px -7px rgb(0, 0, 0);
    background-color: rgb(250, 250, 250);
}
.pesquisar h6{
    padding: 0px 0px 0px 10px;
}
.main-pesquisar{
    padding: 8px 9px 6px 10px;
    width: 100%;
}
.main-pesquisar form{
    display: flex;
    justify-content: space-between;
}
.group{
    display: flex;
    flex-direction: column;
    width: 48%;
}
 input{
    width: 98%;
    outline: none;
    border: 0.1px solid rgba(185, 185, 185, 0.61);
    border-radius: 10px;
    padding: 7px 4px;
}
.group select{
    width: 98%;
}
.button{
    display: flex;

}
.button button{
    padding: 5px 40px;
    width: 100%;
    background-color: rgba(15, 63, 105, 0.900);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.button button:hover{
    background-color: rgba(15, 74, 126, 0.9);
    color: white;
    box-shadow: 3px 3px 10px -7px rgb(0, 0, 0);
    transition: 0.6;
}


.total-quadras{
    display: flex;
    width: 34%;
    height: 100%;
    padding: 14px 0px;
    margin-bottom: 20px;
    border-radius: 2px;
    box-shadow: 2px 3px 10px -7px rgb(0, 0, 0);
    background-color: rgb(250, 250, 250);
    position: relative;
}
.total-quadras h6{
    padding-left: 10px;
}
.main-total-quadras{
    padding: 0px 0px 0px 10px;
}
.icone-total{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(25%, -50%);
    z-index: 1;
    opacity: 0.20;
    color: rgba(5, 62, 97, 1);
    font-size: 3rem;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}
.buttons button{
    background-color: #042940e1;
    color: white;
    height: 38px;
    width: 200px;
    border-radius: 15px;
    font-weight: 500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}
.sem-quadra{
    min-width: 600px;
    min-height: 500px;
    border-radius: 6px;
    box-shadow: 2px 3px 10px -7px rgb(0, 0, 0);
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    margin-bottom: 15px;
}
.sem-quadra i{
    color: rgba(0, 0, 0, 0.356);
    font-size: 5rem;
    margin-bottom: 40px;
}

